// _pills.scss

#pill-container-display {
  border: 2px solid #9da267;
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Espaçamento entre as pills */
  padding: 4px;
}

.pill {
  font-size: 12px;
  font-family: 'Readex Pro', sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 24px;
  border-color: #42002c;
  color: #42002c;
  background-color: #fbe0f2;
  border: 1px solid #42002c;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;

}

.pill:not(.pill--selected):hover {
  background-color: #20390e;
  color: #343434;
}

.pill--selected {
  background-color: #e0fafb;
  color: #044755;
  border: 1px solid #044755;
  border-color: #044755;
}

.x-remove-pill-button {
  font-size: 12px;
  font-family: 'Readex Pro', sans-serif;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: #a71e1e;
  color: #f4f4f4;
  cursor: pointer;
}

.x-remove-pill-button:hover {
  background-color: #482a2a;
  color: #343434;
}
